[submodule "lib/AsyncShiftIn"]
	path = lib/AsyncShiftIn
	url = https://github.com/deltaphi/AsyncShiftIn.git
[submodule "lib/RR32CanLibrary"]
	path = lib/RR32CanLibrary
	url = https://github.com/deltaphi/RR32CanLibrary.git
[submodule "test/sil/argtable3"]
	path = test/sil/argtable3
	url = https://github.com/argtable/argtable3
